/*NOTER OG EVT. REGLER*/
/* body img {
  display: grid;
  grid-template-columns: 1fr;



  Når main kommer over 120px, kan den ikke blive større

margin: 0 auto; = margin kan bruges til at centrere
	- Dette vil vi fx Gerne bruges til vores main-tekst/main-context

Tekst på hjemmesider, max width i en paragraf 700px (45-70 bogstaver)


Eksempel: 
@media (width>=600px) tub(
.main tub(
Max-width 700px
Margin: 0 auto;
tub)

Tub) 
} */

/*...................MOBILSITE...................*/

/* @media (width<=500px) {
  .forside .grid_noerrebro,
  .grid_alltours {
    grid-template-columns: 1fr;
  }

/*  */
